body {
    margin: 0px;
    padding: 0px;
    height:auto;
    width:auto;
    font-family: 'Raleway', sans-serif;
  }
  
  /* Style the sidebar - fixed full height */
  .sidebar {
    height: 100%;
    width: 75px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #FFDBE4;
    overflow-x: hidden;
  }
  
  /* Style sidebar links */
  
  .sidebar a {
    padding: 25px 8px 25px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    text-align: center;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #ffffff;
    text-shadow: 1px 1px 2px #5B6574;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .flex-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 910px;
    height: 100%;
    align-items: flex-end;
    align-content: stretch;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
  }
  .column img {
    object-fit:cover;
   
  }
  
  #bgleft {
    position: relative;
    margin-left: 75px;
    padding: 0px;
    border: none;
    width: 894px; 
    height: 100%; 
    z-index: 1;
  
  }
  .column {
    background: #ffffff;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* for Firefox */
    min-height: 0;
    position: relative;
    height: 100%;
    overflow: hidden;
    
  }
  
  .container {
    background: #ffffff;
  
    /* give the outermost container a predefined size */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 957px;
    width: 890px;
    display: flex;
    flex-direction: column;
    z-index: 6;
  }
  
  .section {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    
    /* for Firefox */
    min-height: 0;
    z-index: 6;
  }
  
  .scrollable-content {
    background: white;
    flex-grow: 1;
    
    overflow: auto;
    
    /* for Firefox */
    min-height: 0;
  }
  
  #titleline { 
    max-width: 10%;
    background-color: #FFDBE4;
    height:4px;
  }

.portfoliomenu {
      display: block;
      margin-top: 40px;
      margin-bottom: 40px;
      
  }

#all {
      background-color: #FFDBE4;
     
  }

#all a {
      text-decoration: none;
      color: #ffffff;
      text-shadow: 1px 1px 2px #5B6574;
      font-weight: 700;
  }

#online a {
      text-decoration: none;
      color: #5B6574;
      font-weight: 700;
  }
  #online a:hover {
      color: #000000;
  }

#offline a {
    text-decoration: none;
    color: #5B6574;
    font-weight: 700;
}
    #offline a:hover {
        color: #000000;
    }

#online, #offline {
    margin-left: -4px;
}

.bouton {
      display: inline-block;
      padding: 15px;
      margin-top: 40px;
      margin-bottom: 40px;
      background-color: #ebebe0;
      color: #000;
      text-decoration: none;
  }

  .imglist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
  }

  ul {
      margin: 0;
      padding: 0;
  }
  
    li {
    width: 25%;
    margin-right: 25px;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: #ebebe0;
    }

    li a {
        text-align: center;
        text-decoration: none;
        padding: 10px;
        color: #5B6574;
    }

    .thumbnail {
        max-width: 100%;
        background-color: #ebebe0;
        margin-bottom: 10px;
        padding: 0px;
      }
  

  #footer {
    bottom: 0px;
    right: 0px;
    background-color: #ebebe0;
    position: fixed;
    z-index: 997;
    height: 50px;
    width: 50.75%;
    align-content: baseline;
  }

#footer a {
    position: relative;
    float: right;
  }

#footer i {
    font-size: 25px;
    color: #5B6574;
    padding: 13px;
    margin-right: 80px;
  }

#top {
    width: 3px;
    height: 3px;
    position: relative;
    top:0;
    z-index: 999;
  }